[include]
	path = /Users/m/.config/delta/catppuccin.gitconfig
[core]
	editor = nvim
	pager = delta
[user]
	name = Misho Shubitidze
	email = misho@mshub.dev
	username = mshubitidze
[init]
	defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
	features = catppuccin-mocha
[merge]
  conflictstyle = zdiff3
